# From
# https://github.com/deepspeedai/DeepSpeed/blob/v0.19.3/requirements/requirements-dev.txt
# https://github.com/deepspeedai/DeepSpeed/blob/v0.19.3/requirements/requirements.txt
hjson
accelerate
clang-format==18.1.3
future
