# Build, package, and test the Frameworks SDK from {Aurora,Sunspot}
spec:
  inputs:
    runner:
      options: [aurora, sunspot]
      default: aurora
      description: CI runners to use
    env:
      default: prod.env
      description: Set of environment variables to configure Frameworks
---

include:
  - local: 'templates/common.yml'
    inputs:
      runner: $[[ inputs.runner ]]
      env: $[[ inputs.env ]]

  # Nightly Wheels
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: torch
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: intel_extension_for_pytorch
      flags: -t *.whl
      needs: [torch]
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: oneccl_bind_pt
      flags: -t *.whl
      needs: [torch]
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: mpi4py
