# Build, package, and test the Frameworks SDK from {Aurora,Sunspot}
spec:
  inputs:
    runner:
      options: [aurora, sunspot]
      default: aurora
      description: CI runners to use
    root_dir:
      rules:
        - if: $[[ inputs.runner ]] == 'aurora'
          default: '/lus/flare/projects/datascience/frameworks-ci'
        - if: $[[ inputs.runner ]] == 'sunspot'
          default: '/lus/tegu/projects/datascience/frameworks-ci'
      description: Directory to store built artifacts
    python_version:
      default: 3.12
      description: Python version to build against
    torch_version:
      default: main
      description: PyTorch version to build
    torchccl_version:
      default: ''
      description: torchCCL version to build
    ipex_version:
      default: ''
      description: IPEX version to build
---

variables:
  FRAMEWORKS_ROOT_DIR: $[[ inputs.root_dir ]]
  FRAMEWORKS_PYTHON_VERSION: $[[ inputs.python_version ]]
  FRAMEWORKS_TORCH_VERSION: $[[ inputs.torch_version ]]
  FRAMEWORKS_TORCHCCL_VERSION: $[[ inputs.torchccl_version ]]
  FRAMEWORKS_IPEX_VERSION: $[[ inputs.ipex_version ]]

include:
  - local: 'templates/common.yml'
    inputs:
      runner: $[[ inputs.runner ]]

  # Nightly Wheels
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: torch
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: intel_extension_for_pytorch
      needs: [torch]
    rules:
      - if: '"$[[ inputs.ipex_version ]]" != ""'
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: oneccl_bind_pt
      needs: [torch]
    rules:
      - if: '"$[[ inputs.torchccl_version ]]" != ""'
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: mpi4py
