# Python dependencies required for development
#
# ── Build System ──────────────────────────────────────────────────────────────
setuptools>=70.1.0,<82
cmake>=3.27
ninja
numpy
packaging
pyyaml
requests
six                          # dependency chain: NNPACK -> PeachPy -> six
typing-extensions>=4.15.0
pip                          # not technically needed, but makes setup.py invocation work
#
# ── Install / Development ─────────────────────────────────────────────────────
build[uv]                    # for building sdist and wheel
expecttest>=0.3.0
filelock
fsspec>=0.8.5
hypothesis
jinja2
lintrunner ; platform_machine != "s390x"
networkx>=2.5.1
optree>=0.13.0
psutil
spin
sympy>=1.13.3
wheel
